<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<% include include/header.ejs %>
<div class="container">
    主要内容
</div>
<% include include/footer.ejs %>
</body>
</html>
